{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Blog Page</title>
<!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="{% url 'index' %}" class="navbar-brand">{{profile.brand_name|upper}} </a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="{% url 'index' %}" class="smoothScroll">Home</a></li>
                         <li><a href="{% url 'index' %}#about" class="smoothScroll">About</a></li>
                         <li><a href="{% url 'index' %}#blog" class="smoothScroll">Blog</a></li>
                         <li><a href="{% url 'index' %}#work" class="smoothScroll">My Work</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li>
                              <a href="{{profile.facebook}}"><i class="fa fa-facebook-square"></i></a>
                         </li>
                         <li>
                              <a href="{{profile.twitter}}"><i class="fa fa-twitter"></i></a>
                         </li>
                         <li>
                              <a href="{{profile.instagram}}"><i class="fa fa-instagram"></i></a>
                         </li>
                         <li>
                              <a href="https://wa.me/{{profile.phone}}" target="_blank"><i class="fa fa-whatsapp"></i></a> 
                         </li>
                         <li class="section-btn"><a href="{% url 'index' %}#contact">Contact Me</a></li>
                    </ul>
               </div>
          </div>
     </section>


     <!-- BLOG HEADER -->
     <section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-5 col-sm-12">
                         <h2>Read all blogs </h2>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- BLOG DETAIL -->
     <!-- BLOG -->
     <section id="blog" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">
                  <div class="col-md-12 col-sm-12">
                       <div class="section-title">
                            <h2>Blog Posts</h2>
                            <span class="line-bar">...</span>
                       </div>
                  </div>

                  {% for post in posts %}
                  <div class="col-md-6 col-sm-6">
                       <!-- BLOG THUMB -->
                       <div class="media blog-thumb">
                            <div class="media-object media-left">
                                 <a href="{% url 'blog_detail' post.slug %}"><img src="{{post.image.url}}"
                                           class="img-responsive blog-img" alt="" /></a>
                            </div>
                            <div class="media-body blog-info">
                                 <small><i class="fa fa-clock-o"></i> {{post.date_created|date:"F d, Y"}}</small>
                                 <h3>
                                      <a href="{%url 'blog_detail' post.slug %}">{{post.title}}</a>
                                 </h3>
                                 <p>
                                      {{post.content|striptags | truncatewords:8  }}
                                 </p>
                                 <a href="{% url 'blog_detail' post.slug %}" class="btn section-btn">Read article</a>
                            </div>
                       </div>
                  </div>
                  {% empty%}

                  <h2>There are no blogs to display at the Moment</h2>
                  
                  {% endfor %}

             </div>
        </div>
   </section>

     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>{{profile.brand_name|upper}}</h2>
                              <p>
                                   We make beautiful and dynamic websites for all.
                              </p>
                         </div>
                    </div>

                    <!-- <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>
                                   <li><a href="#">Press</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Services</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Pricing</a></li>
                                   <li><a href="#">Documentation</a></li>
                                   <li><a href="#">Support</a></li>
                              </ul>
                         </div>
                    </div> -->

                    <div class="col-md-3 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Location</h2>
                              <p>
                                   Barbeach, <br />
                                   Victoria Island, Lagos
                              </p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2022 {{profile.brand_name|upper}}</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call <span>{{profile.phone}}</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li>
                                             <a href="{{profile.facebook}}" class="fa fa-facebook-square"
                                                  attr="facebook icon"></a>
                                        </li>
                                        <li><a href="{{profile.twitter}}" class="fa fa-twitter"></a></li>
                                        <li><a href="{{profile.instagram}}" class="fa fa-instagram"></a></li>
                                        <li>
                                             <a href="https://wa.me/{{profile.phone}}" target="_blank"><i class="fa fa-whatsapp"></i></a> 
                                        </li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </footer>

     <!-- MODAL -->


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>


     <script src="{% static 'izi/dist/js/iziToast.min.js' %}"></script>

     <script>
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          iziToast.error({
               title: "Error",
               message: "{{error}}",
               position: "topRight"
          });
          {% endfor %}
          {% endfor %}
          {% endif %}
     </script>

     <script>
          {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}


          iziToast.success({
               title: 'OK',
               message: '{{message}}',
               position: 'topRight',
          });
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          iziToast.error({
               title: 'Error',
               message: '{{message}}',
               position: 'topRight',
               timeout: 10000,

          });
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          iziToast.warning({
               title: 'Caution',
               message: '{{message}}',
               position: 'topRight',
               timeout: 10000,

          });

          {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          iziToast.info({
               title: 'Hey',
               message: '{{message}}',
               position: 'topRight',

          });

          {% endif %}
          {% endfor %}
          {% endif %}
     </script>

</body>

</html>