{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <title>{{profile.brand_name|upper}} - Portfolio website</title>
     <!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
     <meta name="description" content="" />
     <meta name="keywords" content="" />
     <meta name="author" content="" />
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

     <link rel="shortcut icon" type="image/jpg" href="{%static 'images/favicon.ico' %}" />

     <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/apple-touch-icon.png'%}">
     <link rel="icon" type="image/png" sizes="32x32" href="{%static 'images/favicon-32x32.png'%}">
     <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon-16x16.png'%}">
     <link rel="manifest" href="{%static 'images/site.webmanifest' %}">

     <link rel="stylesheet" href="{% static 'izi/dist/css/iziToast.min.css' %}">


     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} " />
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %} " />
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />

     <style>
          .whatsapp {
               color: white;

          }

          .whatsapp:hover {
               color: red;
          }
     </style>
</head>

<body>
     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="{% url 'index' %}" class="navbar-brand">{{profile.brand_name|upper}} </a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About</a></li>
                         <li><a href="#blog" class="smoothScroll">Blog</a></li>
                         <li><a href="#work" class="smoothScroll">My Work</a></li>
                         {% if user.is_authenticated %}
                         <li><a href="{% url 'add_blog' %}" class="smoothScroll">Add Blog</a></li>
                         <li><a href="{% url 'add_work' %}" class="smoothScroll">New Work</a></li>
                         {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li>
                              <a href="{{profile.facebook}}"><i class="fa fa-facebook-square"></i></a>
                         </li>
                         <li>
                              <a href="{{profile.twitter}}"><i class="fa fa-twitter"></i></a>
                         </li>
                         <li>
                              <a href="{{profile.instagram}}"><i class="fa fa-instagram"></i></a>
                         </li>
                         <li>
                              <a href="{{profile.linkedin}}"><i class="fa fa-linkedin"></i></a>
                         </li>

                         <li>
                              <a href="https://wa.me/{{profile.phone}}" target="_blank"><i
                                        class="fa fa-whatsapp"></i></a>
                         </li>
                         <li class="section-btn"><a href="#contact">Contact Me</a></li>
                    </ul>
               </div>
          </div>
     </section>

     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>We make beautiful and dynamic websites for all.</h1>
                              <a href="#about" class="btn section-btn smoothScroll">Start a project</a>
                              <span>
                                   Get in touch {{profile.phone}}

                                   <small>Make your inquiry through<a href="https://wa.me/{{profile.phone}}"
                                             target="_blank" class="whatsapp">
                                             WhatsApp <i class="fa fa-whatsapp"></i></a></small>
                              </span>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="home-video">
                              <div class="embed-responsive embed-responsive-16by9">
                                   <!-- <iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0"
                                        allowfullscreen></iframe> -->
                                   <!-- <img src="{% static 'images/Huzzy_profile.jpg'%}" alt=""
                                        style="height: 300px; width: 300px; border-radius: 5%;"> -->
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-5 col-sm-6">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>Get to know me</h2>
                                   <span class="line-bar">...</span>
                              </div>
                              <p>
                                   Hi there, my name is {{me.first_name|capfirst}} {{me.last_name|capfirst}} and i am
                                   Software Engineer
                                   with over 3+ years of experience.
                              </p>
                              <p>
                                   Let me make for you, beautiful, dynamic and a website filled with all sorts of
                                   features.
                              </p>
                              <p>
                                   Fast Backend Services built using Python's FastAPI or Django, <br>
                                   Admin Interface, Email Plugin, Notification System, Social Signup & Login
                                   and so much more.
                              </p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="about-info skill-thumb">
                              {% for skill in skills %}
                              <strong>{{skill.name| capfirst}}</strong>
                              <span class="pull-right">{{skill.proficiency}}%</span>
                              <div class="progress">
                                   <div class="progress-bar progress-bar-primary" role="progressbar"
                                        aria-valuenow="{{skill.proficiency}}" aria-valuemin="0" aria-valuemax="100"
                                        style="width:{{skill.proficiency}}%;"></div>
                              </div>
                              {% endfor %}
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="about-image">
                              <img src="{{profile.image.url}}" class="img-responsive" alt="" />
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- BLOG -->
     <section id="blog" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Blog Posts</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    {% for post in blogs %}
                    <div class="col-md-6 col-sm-6">
                         <!-- BLOG THUMB -->
                         <div class="media blog-thumb">
                              <div class="media-object media-left">
                                   <a href="{% url 'blog_detail' post.slug %}"><img src="{{post.image.url}}"
                                             class="img-responsive blog-img" alt="" /></a>
                              </div>
                              <div class="media-body blog-info">
                                   <small><i class="fa fa-clock-o"></i> {{post.date_created|date:"F d, Y"}}</small>
                                   <h3>
                                        <a href="{%url 'blog_detail' post.slug %}">{{post.title}}</a>
                                   </h3>
                                   <p>
                                        {{post.content|striptags | truncatewords:8 }}
                                   </p>
                                   <a href="{% url 'blog_detail' post.slug %}" class="btn section-btn">Read article</a>
                              </div>
                         </div>
                    </div>
                    {% empty%}

                    <h2>There are no blogs to display at the Moment</h2>

                    {% endfor %}



               </div>
               <a href="{% url 'blog_posts' %}" class="btn section-btn">View All Blogs </a>

          </div>
     </section>

     <!-- WORK -->
     <section id="work" data-stellar-background-ratio="0.5">
          <div class="container px-4">
               <div class="row gx-5">
                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>My work</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    {% for work in works %}
                    <div class="col-md-3 col-sm-6">
                         <!-- WORK THUMB -->
                         <div class="work-thumb">
                              <a href="{{work.image.url}}" class="image-popup">
                                   <img src="{{work.image.url}}" class="img-responsive blog-img" alt="Work" />

                                   <div class="work-info">
                                        <h3>{{work.name}}</h3>
                                        <small>{{work.kind}}</small>
                                   </div>
                              </a>
                         </div>
                         <a href="{{work.link}}" target="_blank">
                              <h3 class="section-btn" style="margin-bottom: 100px;"><b>{{work.name}}</b></h3>
                         </a>


                    </div>


                    {% empty%}

                    <h2>There are no works to display at the Moment</h2>

                    {% endfor %}

               </div>
          </div>
     </section>

     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Contact Me</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    <div class="col-md-8 col-sm-8">
                         <!-- CONTACT FORM HERE -->
                         <form id="contact-form" role="form" action="{% url 'contact' %}" method="post">
                              {% csrf_token %}
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" class="form-control" placeholder="First Name" id="cf-name"
                                        name="first_name" required="" />
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="text" class="form-control" placeholder="Last Name" id="cf-name"
                                        name="last_name" required="" />
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="email" class="form-control" placeholder="Your Email" id="cf-email"
                                        name="email" required="" />
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="tel" class="form-control" placeholder="Your Phone" id="cf-number"
                                        name="phone" required="" />
                              </div>

                              <!-- <div class="col-md-6 col-sm-6">
                                   <select class="form-control" id="cf-budgets" name="cf-budgets">
                                        <option>Budget Level</option>
                                        <option value=""></option>
                                        <option>$500 to $1,000</option>
                                        <option>$1,000 to $2,200</option>
                                        <option>$2,200 to $4,500</option>
                                        <option>$4,500 to $7,500</option>
                                        <option>$7,500 to $12,000</option>
                                        <option>$12,000 or more</option>
                                   </select>
                              </div> -->

                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="6" placeholder="Your requirements"
                                        id="cf-message" name="requirements" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="submit" value="Send Message" />
                              </div>
                         </form>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="google-map">
                              <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
                              <!-- <iframe
                                   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945"
                                   allowfullscreen></iframe> -->

                              <img src="{% static 'images/Huzzy_profile.jpg'%}" alt=""
                                   style="height: 300px; width: 300px;">
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>{{profile.brand_name|upper}}</h2>
                              <p>
                                   We make beautiful and dynamic websites for all.
                              </p>
                         </div>
                    </div>

                    <!-- <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>
                                   <li><a href="#">Press</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Services</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Pricing</a></li>
                                   <li><a href="#">Documentation</a></li>
                                   <li><a href="#">Support</a></li>
                              </ul>
                         </div>
                    </div> -->

                    <div class="col-md-3 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Location</h2>
                              <p>
                                   Barbeach, <br />
                                   Victoria Island, Lagos
                              </p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2022 {{profile.brand_name|upper}}</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call <span>{{profile.phone}}</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li>
                                             <a href="{{profile.facebook}}" class="fa fa-facebook-square"
                                                  attr="facebook icon"></a>
                                        </li>
                                        <li><a href="{{profile.twitter}}" class="fa fa-twitter"></a></li>
                                        <li><a href="{{profile.instagram}}" class="fa fa-instagram"></a></li>
                                        <li><a href="{{profile.linkedin}}" class="fa fa-linkedin"></a></li>

                                        <li>
                                             <a href="https://wa.me/{{profile.phone}}" target="_blank"><i
                                                       class="fa fa-whatsapp"></i></a>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </footer>

     <!-- MODAL -->


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>


     <script src="{% static 'izi/dist/js/iziToast.min.js' %}"></script>

     <script>
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          iziToast.error({
               title: "Error",
               message: "{{error}}",
               position: "topRight"
          });
          {% endfor %}
          {% endfor %}
          {% endif %}
     </script>

     <script>
          {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}


          iziToast.success({
               title: 'OK',
               message: '{{message}}',
               position: 'topRight',
          });
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          iziToast.error({
               title: 'Error',
               message: '{{message}}',
               position: 'topRight',
               timeout: 10000,

          });
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          iziToast.warning({
               title: 'Caution',
               message: '{{message}}',
               position: 'topRight',
               timeout: 10000,

          });

          {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          iziToast.info({
               title: 'Hey',
               message: '{{message}}',
               position: 'topRight',

          });

          {% endif %}
          {% endfor %}
          {% endif %}
     </script>

</body>

</html>